@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <br />
    <h4>Conheça nossas novidades</h4>
    <br />
    <div class="row align-items-start">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/200?random=1" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Tenis XPTO</h5>
                    <p class="card-text">R$120,99</p>
                    <a href="#" class="btn btn-outline-primary text-center">Adicionar ao carrinho</a>
                </div>
            </div>
            <br />
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/200?random=2" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Tenis XPTO</h5>
                    <p class="card-text">R$120,99</p>
                    <a href="#" class="btn btn-outline-primary">Adicionar ao carrinho</a>
                </div>
            </div>
            <br />
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/200?random=3" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Tenis XPTO</h5>
                    <p class="card-text">R$120,99</p>
                    <a href="#" class="btn btn-outline-primary">Adicionar ao carrinho</a>
                </div>
            </div>
            <br />
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/200?random=4" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Tenis XPTO</h5>
                    <p class="card-text">R$120,99</p>
                    <a href="#" class="btn btn-outline-primary">Adicionar ao carrinho</a>
                </div>
            </div>
            <br />
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/200?random=5" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Tenis XPTO</h5>
                    <p class="card-text">R$120,99</p>
                    <a href="#" class="btn btn-outline-primary">Adicionar ao carrinho</a>
                </div>
            </div>
            <br />
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/200?random=6" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Tenis XPTO</h5>
                    <p class="card-text">R$120,99</p>
                    <a href="#" class="btn btn-outline-primary">Adicionar ao carrinho</a>
                </div>
            </div>
            <br />
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/200?random=7" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Tenis XPTO</h5>
                    <p class="card-text">R$120,99</p>
                    <a href="#" class="btn btn-outline-primary">Adicionar ao carrinho</a>
                </div>
            </div>
            <br />
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/200?random=8" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Tenis XPTO</h5>
                    <p class="card-text">R$120,99</p>
                    <h6 href="#">Indisponivel</h6>
                </div>
            </div>
            <br />
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/200?random=9" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Tenis XPTO</h5>
                    <p class="card-text">R$120,99</p>
                    <h6 href="#">Indisponivel</h6>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
